.parallax {
     /* The image used */

  /* Full height */
  width: 100%;
  height: 700px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.details-section-container {
    scroll-margin-top: 85px;
}

.details-section-title {
    display: block;
    padding-top: 10%;
    font-size: 64px;
    text-align: left;
}

.header {
    background-image: url('../images/microsoft_example_photo.jpg');
}

.financial-statement {
    background-image: url('../images/example_picture.png');
}

.metrics-separator {
    background-image: url('../images/example_picture2.jpg');
}

.share-separator {
    background-image: url('../images/example_picture3.jpg');
}

.ant-tabs-top > .ant-tabs-nav::before {
    border-bottom: 0;
}